<?xml version="1.0"?>
<robot name="football_ball">
  <link name="ball_link">
    <visual>
      <geometry>
        <sphere radius="0.11"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <material name="ball_color">
        <color rgba="1.0 0.8 0.0 1.0"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <sphere radius="0.11"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0"/>
    </collision>
    <inertial>
      <mass value="0.05"/>
      <inertia ixx="0.0005" ixy="0.0" ixz="0.0" iyy="0.0005" iyz="0.0" izz="0.0005"/>
    </inertial>
  </link>

  <gazebo reference="ball_link">
    <material>Gazebo/Orange</material>
    <mu1>0.1</mu1>
    <mu2>0.1</mu2>
    <bounce>0.9</bounce>
    <bounceThreshold>100000</bounceThreshold>
    <maxVel>0.1</maxVel>
    <minDepth>0.001</minDepth>
  </gazebo>
</robot>
