<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robot_red">
  <xacro:property name="robot_color" value="red"/>
  <xacro:property name="skin_color" value="white"/>
  <xacro:property name="robot_name" value="robot_red"/>
  <xacro:include filename="$(find humanoid_football)/urdf/humanoid_robot.xacro"/>
</robot>
